#textAbout {
  width: 47vw;
  margin-top: 30vh;
  margin-left: 20vw;
  justify-content: left;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: justify;
}

h1 {
  display: none;
}

#aboutNav {
  position: fixed;
  top: 30vh;
  left: 0;
  font-size: 1vw;
}
#aboutNav ul li {
  list-style: none;
  margin-top: 2vh;
}

#imagesAbout {
  position: relative;

  width: 30vw;
  right: 0;
  margin-right: 0;
}

#imagesAboutWrapper {
  position: fixed;
  right: 0;
  top: 0;
}

.random {
  position: absolute;
  width: 12vw;
}

#aboutImageDesktop {
  opacity: 0.9;
  height: 100vh;
  width: auto;
}

#aboutGallery {
  margin-top: 20vh;
}

.gallery-image {
  margin-top: 10vh;
  margin-left: 20vw;
  width: 47vw;
  font-size: 3.5vw;
  z-index: 1;
  margin-top: 0;
}

/* MOBILE BELOW */

@media screen and (max-width: 760px) {
  #textAbout {
    margin-top: 6.5vh;
    margin-left: 5vw;
    width: 90vw;
    font-size: 3.5vw;
    z-index: 1;
  }

  h1 {
    text-align: center;
    display: block;
    margin-top: 26vh;
  }

  #imagesAboutWrapper {
    right: 3vw;
    top: 28vh;
    margin-top: 1.5em;
  }

  #aboutImageMobile {
    width: 45vw;
    opacity: 0.8;
    float: right;
    margin-left: 2vw;
  }

  #aboutGallery {
    margin-top: 10vh;
  }

  .gallery-image {
    margin-top: 10vh;
    margin-left: 5vw;
    width: 90vw;
    font-size: 3.5vw;
    z-index: 1;
    margin-top: 0;
  }

  #aboutNav {
    width: 100vw;
    position: fixed;
    top: 18vh;
    display: block;
    margin: auto;
    background: white;
    z-index: 3;
    padding-bottom: 1vh;
  }

  #aboutNav ul {
    font-size: 3vw;
    display: block;
    margin: auto;
    white-space: nowrap;
  }

  #aboutNav ul li {
    display: inline-block;
    font-size: 3vw;
    width: calc(100% / 3);
    white-space: nowrap;
  }
}

/* END OF MOBILE*/

/* ONLY DESKTOP BELOW */

@media screen and (min-width: 761px) {
}

/* END OF ONLY DESKTOP */
