@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  text-align: center;
}

body {
  margin-top: 0vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.title {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#size {
  text-align: center;
}

#sizeSpan {
  font-weight: 500;
}

#description {
  margin: auto;
  width: 50vw;
  border-top: 1px rgb(204, 204, 204) solid;
  margin-top: 5vh;
  padding-top: 5vh;
  text-align: center;
  font-size: 1.5vw;
  line-height: 5vh;
  font-weight: 100;
}

video {
  object-fit: fill;
}

/* ----------- Mobile Screens -----------*/

@media screen and (max-width: 812px) {
  /* ----------- Mobile Gallery ----------- */

  /* ----------- Mobile H2 "Recent Projects"/"See More" ----------- */

  .parent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5%;
    margin-top: 10vh;
  }
  #leftImg img,
  #rightImg img,
  #leftImg video,
  #rightImg video {
    width: 100%;
    margin-top: 10%;
    height: auto;
  }

  #arrow {
    display: none;
  }
  #main-image {
    margin-top: 20vh;
    width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
  }

  .title,
  #size {
    font-size: 1.5em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
  }

  .parent {
    margin-top: 0;
  }

  #description {
    line-height: 3.5vh;
    font-size: 2.5vw;
    font-weight: 200;
  }
} /*-----------END OF MOBILE MEDIA QUERY------------*/

@media screen and (min-width: 815px) and (-webkit-min-device-pixel-ratio: 1) {
  /*--------------GALLERY-----------------*/

  #size {
    position: absolute;
    top: 55vh;
  }

  .parent {
    display: flex;
    text-align: center;
    margin-top: 10vh;
  }

  .parent > div {
    flex: 1;
  }

  #leftImg img,
  #rightImg img,
  #leftImg video,
  #rightImg video {
    width: 100%;
    display: block;
    margin-top: 10%;
  }
  #leftImg {
    margin: 3%;
    align-self: flex-start;
  }

  #rightImg {
    margin: 3%;
    align-self: flex-start;
  }

  #main-image {
    position: static;
    display: block;

    height: 50vh;
    width: auto !important;
    margin: 30vh auto 10vh auto;
    max-width: 100vw;
  }
}

/*TABLET*/

@media (min-width: 666px) and (max-width: 1024px) {
  #size {
    font-size: 1.5em;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    position: initial;
  }
  #main-image {
    width: 100vw;
    height: auto;
  }
  .parent {
    margin-top: 0;
  }

  #description {
    line-height: 4vh;
    font-size: 2vw;
  }
}

/* END TABLET */
/* ---------------- END OF MEDIA QUERIES --------------------*/
