html,
body {
  padding: 0;
  margin: 0;
  /*   overflow-y: hidden;
    overflow-x: hidden; */
}
*:before,
*:after {
  transition: 0.5s;
  box-sizing: border-box;
  margin: 0;
  font-size: 0px;
}

#listMenu {
  list-style-type: none;
  position: absolute;
  transition: 0.5s ease-in-out;
  top: 50vh;
}
span {
  font-size: 10px !important;
  color: grey;
}

#a1 {
  font-size: 30px;
}

.aa {
  position: relative;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 10vh;
  width: 25vw;
}

span:hover {
  text-decoration: underline;
}

.mainPainting {
  position: absolute;
  top: 30vh;
  width: 60vw;
  height: 60vh;
  overflow: hidden;
  padding-bottom: 5vh;
}
.mainPainting div img {
  width: inherit;
  height: auto;
  transition: 0.5s;
}
.dets {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  font-size: 2em;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
}

.dets:hover {
  color: gainsboro;
}

@media screen and (min-width: 761px) {
  .mainPainting {
    left: 25vw;
    position: relative;
  }

  .mainPainting div img {
    height: 60vh;
    width: auto;
    display: block;
    margin: auto;
  }

  .exhMainImg:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

  .elem {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
    overflow: hidden;
    will-change: transform;
  }

  .elem:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    will-change: transform, opacity;
  }

  .elem:after {
    content: '';
    position: absolute;
    will-change: transform;
  }

  .elem img {
    will-change: transform;
  }

  .elem:hover:before {
    opacity: 1;
  }
  .exhMainImg:before {
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: luminosity;
  }

  .exhMainImg:after {
    opacity: 0;
    border: 0.15vw solid #fff;
    transform: scale(0.5);
  }

  .exhMainImg:hover:after {
    opacity: 1;
    transform: scale(0.95);
  }
}

@media screen and (max-width: 760px) {
  .mainPainting {
    top: 25vh;
    width: 60vw;
    height: 65vh;
    overflow: hidden;
    right: 0;
    padding-bottom: 0;
  }

  .aa {
    width: 33vw;
  }

  .mainPainting div img {
    opacity: 1;
    height: 60vh;
    width: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  .mainPainting {
    cursor: pointer !important;
  }

  #listMenu {
    padding-left: 5vw;
  }
}
